@import url('colors.css');
#mapid {
    height: 20rem;
    width: 70%;
}

.content {
    display: flex;
    height: 100%;
}


main {
    color: var(--font);
    width: auto;
    height: auto;
    border-radius: 10px;
}
