
#mapid {
    height: 40rem;
    width: 100%;
}

.content {
    display: flex;
    height: 100%;
}
h1 {
    text-align: center;
}
main {
    color: var(--font);
    width: auto;
    height: auto;
    border-radius: 10px;
}
